# Packages and data loading

In [170]:
pip freeze

anyio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-t_zs64wy/anyio_1644482593257/work/dist
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-wbf5edig/argon2-cffi-bindings_1644845754377/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
async-generator==1.10
attrs==23.1.0
Babel @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_00k1rl2pus/croot/babel_1671781944131/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.12.2
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.6.3
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_07078715-3ab7-4562-8d3d-d56b0eaa0f7dp504n_ny/croots/recipe/bottleneck_1657175566567/work
brotlipy==0.7.0
certifi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bweqb8byn/croot/certifi_1690232244779/work/certifi
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ab19r4bji3/croot/cffi_1670423206034/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
contourpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_97c8ctlp86/croots/recipe/contourpy_1663827422071/work
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a9zjqvif1f/croot/cryptography_1677533099634/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///Users/ktietz/ci_310/debugpy_1643965577625/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
entrypoints @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-jb01gaox/entrypoints_1650293758411/work
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fast-histogram @ file:///Users/ktietz/ci_310/fast-histogram_1644261872843/work
fastjsonschema==2.17.1
Flask==3.0.0
fonttools==4.25.0
h11==0.14.0
hubspot-api-client==8.1.1
hubspot3==3.2.52
idna @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_771olrhiqw/croot/idna_1666125579282/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1655369698656/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1683226209954/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_9fjgzv9ant/croot/jinja2_1666908141308/work
joblib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_70fph11sxu/croot/joblib_1666298846160/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d9tjy9j5w9/croot/jsonschema_1676558687376/work
jupyter-server @ file:///opt/conda/conda-bld/jupyter_server_1644494914632/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1681432441054/work
jupyter_core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d1sy1hlz9t/croot/jupyter_core_1679906585151/work
jupyterlab @ file:///opt/conda/conda-bld/jupyterlab_1647445413472/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1644500396812/work
kiwisolver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_93o8te804v/croot/kiwisolver_1672387163224/work
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_12c133f5-0720-4727-9c18-599a3af825723lzwham3/croots/recipe/markupsafe_1654597866058/work
matplotlib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_05rfi32zzb/croot/matplotlib-suite_1679593473526/work
matplotlib-inline @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f6fdc0hldi/croots/recipe/matplotlib-inline_1662014472341/work
mistune @ file:///Users/ktietz/ci_310/mistune_1643966732634/work
mlxtend==0.22.0
mpl-scatter-density @ file:///home/conda/feedstock_root/build_artifacts/mpl-scatter-density_1596626732308/work
munkres==1.1.4
nbclassic @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d6oy9w0m3l/croot/nbclassic_1681756176477/work
nbconvert==5.5.0
nbformat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cbnf5nccgk/croot/nbformat_1694616744196/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==3.1
notebook_shim @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f8mr1gjfb7/croot/notebook-shim_1668160580414/work
numexpr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_98sxk8lloi/croot/numexpr_1668713874222/work
numpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d18vvv3mag/croot/numpy_and_numpy_base_1672336185310/work
openpyxl==3.1.2
outcome==1.2.0
packaging @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e946luvhc3/croot/packaging_1678965323926/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
patsy==0.5.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1682644429438/work
plotly==5.14.1
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prometheus-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_25sgeyk0j5/croots/recipe/prometheus_client_1659455103277/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
psutil @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1310b568-21f4-4cb0-b0e3-2f3d31e39728k9coaga5/croots/recipe/psutil_1656431280844/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
pyOpenSSL @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_38h4axtq38/croot/pyopenssl_1677607699670/work
pyparsing @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3b_3vxnd07/croots/recipe/pyparsing_1661452540919/work
pyrsistent==0.19.3
PySocks @ file:///Users/ktietz/ci_310/pysocks_1643961536721/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
pytz @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c56ru3yml9/croot/pytz_1671697451306/work
pyzmq @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a7d9jpero7/croot/pyzmq_1682697648735/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
scikit-learn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0emnaja2ey/croot/scikit-learn_1680198750676/work
scipy==1.10.1
seaborn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2ci8qzbdyk/croot/seaborn_1673479197351/work
selenium==4.10.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
simplejson==3.19.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels==0.14.0
tenacity==8.2.2
terminado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fcfvyc0an2/croot/terminado_1671751835701/work
testpath @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8eff48dc-c5e8-4dc1-bdf5-49b333fc562a74hpzn48/croots/recipe/testpath_1655908554731/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tornado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a61b4xoie9/croots/recipe/tornado_1662061692951/work
tqdm==4.65.0
traitlets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6301rd5qbe/croot/traitlets_1671143894285/work
trio==0.22.0
trio-websocket==0.10.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
urllib3 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c7xh0_scrc/croot/urllib3_1680254693282/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client @ file:///Users/ktietz/ci_310/websocket-client_1643972661291/work
Werkzeug==3.0.0
wsproto==1.2.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
Note: you may need to restart the kernel to use updated packages.

In [171]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import date
import sklearn
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from pathlib import Path

In [172]:
# We load both network and stripe fees files, and concat them
#df = pd.read_csv('Rapport_des_frais_de_paiement_au_niveau_des_transactions_du_2023-09-01_au_2023-09-30 (2).csv')
df = pd.read_csv('Oct_fees_sumary.csv')

# In order to analyze on whole month instead of just one directly, we create a new column month_year on which we will perform our groupby
# df['month_year'] = pd.to_datetime(df['incurred_at']).dt.strftime('%m-%Y')


df

/var/folders/kx/053l91k97ggc1ywh6t0pvckh0000gn/T/ipykernel_68082/2485233946.py:3: DtypeWarning: Columns (6,16,19,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Oct_fees_sumary.csv')

,balance_debited_at,balance_transaction_id,incurred_at,event_type,charge_id,refund_id,dispute_id,request_id,destination_id,connected_account_id,...,subtotal_amount,tax_rate,tax_amount,total_amount,fx_rate,billing_currency,billing_amount,attribution_start_date,attribution_end_date,fee_id
0,2023-10-02 05:42:41,txn_1NwetxFq1BiPgN2KtZz09OOU,2023-10-01 00:01:16,charge_captured,ch_3NwD08Fq1BiPgN2K1wNzlfMg,NaN,NaN,req_Fzgqcpj4dRrLDT,acct_1LT4a22HsmZAUOLF,acct_1LT4a22HsmZAUOLF,...,0.27675,NaN,NaN,0.27675,NaN,eur,0.276750,2023-10-01,2023-10-01,fr_hMRzVquUaW99ffl8C0BNEZ8Cf8m0c65zUBwdRTyvqac...
1,2023-10-02 05:42:41,txn_1NwetxFq1BiPgN2KtZz09OOU,2023-10-01 00:03:12,charge_captured,ch_3NwD2GFq1BiPgN2K03tmZeeC,NaN,NaN,req_X3AD9zDKUN27UA,acct_1LVWad2HlWo8hxM4,acct_1LVWad2HlWo8hxM4,...,0.59175,NaN,NaN,0.59175,NaN,eur,0.591750,2023-10-01,2023-10-01,fr_ANSX4xg693yzyqLEIT1UIVrFQ3EwWLrF8Ebl4s6qbio...
2,2023-10-02 05:42:41,txn_1NwetxFq1BiPgN2KtZz09OOU,2023-10-01 00:07:24,charge_captured,ch_3NwD5xFq1BiPgN2K1Lv17TrA,NaN,NaN,req_oT6ynJ0vzkZQEh,acct_1M0AkkCDfbZESYZ0,acct_1M0AkkCDfbZESYZ0,...,0.78000,NaN,NaN,0.78000,NaN,eur,0.780000,2023-10-01,2023-10-01,fr_2jwFtDNFM8p80bKJNBKoYX1B8VYlTwPeR-G0gojHA4s...
3,2023-10-02 05:42:41,txn_1NwetxFq1BiPgN2KtZz09OOU,2023-10-01 00:16:19,charge_captured,ch_3NwDEcFq1BiPgN2K1Y3Fcwja,NaN,NaN,req_uBhpDYeXnZMrXR,acct_1NkQxtCT9M4GAacO,acct_1NkQxtCT9M4GAacO,...,0.02175,NaN,NaN,0.02175,NaN,eur,0.021750,2023-10-01,2023-10-01,fr_TeVSOArDjuiyBX2dALMR3XvUexvN3kyz249ZgjAcbP8...
4,2023-10-02 05:42:41,txn_1NwetxFq1BiPgN2KtZz09OOU,2023-10-01 00:27:46,charge_captured,ch_3NwDQ8Fq1BiPgN2K1cUBwt3u,NaN,NaN,req_xqnlhRvsCKN2yk,acct_1LT4a22HsmZAUOLF,acct_1LT4a22HsmZAUOLF,...,0.27675,NaN,NaN,0.27675,NaN,eur,0.276750,2023-10-01,2023-10-01,fr_3zz4E9QCAAnOwirD!4-1dofBQ8hWKEsagyR4DAjYwFc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274571,2023-11-03 09:02:31,txn_1O8JGtFq1BiPgN2KUayUOQVV,2023-10-31 23:59:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.12000,NaN,NaN,0.12000,0.94515,eur,0.113418,2023-10-01,2023-10-31,fr_ao2!umRGucKwki39Gm2cfbJv!R0TPjdxFazoOX0FuVU...
274572,2023-11-03 09:02:31,txn_1O8JGtFq1BiPgN2KUayUOQVV,2023-10-31 23:59:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.12000,NaN,NaN,0.12000,0.94515,eur,0.113418,2023-10-01,2023-10-31,fr_ieQ7YJUW7yeSiC!J3bAJIAb-W!DY5gCov-kgbz3s-Js...
274573,2023-11-03 09:02:31,txn_1O8JGtFq1BiPgN2KUayUOQVV,2023-10-31 23:59:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.12000,NaN,NaN,0.12000,0.94515,eur,0.113418,2023-10-01,2023-10-31,fr_OZJd23BSI9Izf9IM12GKsfFehK-q!odVMZkMvElJM6Q...
274574,2023-11-03 09:02:31,txn_1O8JGtFq1BiPgN2KUayUOQVV,2023-10-31 23:59:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.12000,NaN,NaN,0.12000,0.94515,eur,0.113418,2023-10-01,2023-10-31,fr_kn!OmX4XMGbcWNL5jcrITHUTy0aGzj1cnTwoKWfR1wc...
274575,2023-11-03 09:02:31,txn_1O8JGtFq1BiPgN2KUayUOQVV,2023-10-31 23:59:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.12000,NaN,NaN,0.12000,0.94515,eur,0.113418,2023-10-01,2023-10-31,fr_!xGq34pygZ9I-SqdmXlzOrKHMVOlIPzanb4RaEoQXKE...

# First insigths

In [173]:
# We display our dataframe columns name

df.columns

Index(['balance_debited_at', 'balance_transaction_id', 'incurred_at',
       'event_type', 'charge_id', 'refund_id', 'dispute_id', 'request_id',
       'destination_id', 'connected_account_id', 'connected_account_country',
       'connected_account_name', 'customer_id', 'card_brand', 'bin',
       'issuing_bank', 'network', 'card_funding', 'card_country',
       'card_present', 'fee_category', 'fee_name', 'fee_currency', 'plan_name',
       'additional_explanation', 'variable_rate', 'fixed_per_item_amount',
       'variable_volume_amount', 'fixed_per_item_count', 'min_amount',
       'max_amount', 'subtotal_amount', 'tax_rate', 'tax_amount',
       'total_amount', 'fx_rate', 'billing_currency', 'billing_amount',
       'attribution_start_date', 'attribution_end_date', 'fee_id'],
      dtype='object')

In [174]:
# We compute unique value count for each column and load it in a dataframe so we can save it as csv for later analysis

resultat = pd.DataFrame({'Nom de la colonne': df.nunique().index, 'Nombre d\'éléments uniques': df.nunique().values})

resultat

            Nom de la colonne  Nombre d'éléments uniques
0          balance_debited_at                        126
1      balance_transaction_id                        127
2                 incurred_at                      68450
3                  event_type                         10
4                   charge_id                      23362
5                   refund_id                       1237
6                  dispute_id                          1
7                  request_id                      68572
8              destination_id                        230
9        connected_account_id                        230
10  connected_account_country                          2
11     connected_account_name                          0
12                customer_id                      23502
13                 card_brand                          6
14                        bin                       1404
15               issuing_bank                        426
16                    network                          1
17               card_funding                          3
18               card_country                         77
19               card_present                          1
20               fee_category                          2
21                   fee_name                          6
22               fee_currency                         10
23                  plan_name                        152
24     additional_explanation                          2
25              variable_rate                        209
26      fixed_per_item_amount                         28
27     variable_volume_amount                       5406
28       fixed_per_item_count                          1
29                 min_amount                          1
30                 max_amount                          1
31            subtotal_amount                      22592
32                   tax_rate                          0
33                 tax_amount                          0
34               total_amount                      22592
35                    fx_rate                        295
36           billing_currency                          1
37             billing_amount                      23087
38     attribution_start_date                         31
39       attribution_end_date                         31
40                     fee_id                     274576

# Overall dive-deep

In [175]:
# First we check which type of combination between fee categories and their name exist and their count

df[['fee_category','fee_name','balance_transaction_id']].groupby(['fee_category','fee_name']).size().reset_index(name='nb_transaction')

   fee_category                       fee_name  nb_transaction
0  network_cost                    card_scheme          179578
1  network_cost                       discount             624
2  network_cost                    interchange           22825
3  network_cost  non_transactional_card_scheme              34
4    stripe_fee                   per_auth_fee           47677
5    stripe_fee                     volume_fee           23838

In [176]:
# Then we check which card brand could be involved in the transactions, and which type of card it is (debit/credit)

df[['card_brand','card_funding']].groupby(['card_brand','card_funding']).size().reset_index(name='nb_transaction')

         card_brand card_funding  nb_transaction
0  American Express       credit            2328
1       Diners Club       credit               4
2          Discover       credit              10
3        MasterCard       credit           22890
4        MasterCard        debit           82219
5        MasterCard      prepaid            2136
6          UnionPay        debit               8
7              Visa       credit           43078
8              Visa        debit          121604
9              Visa      prepaid             265

In [177]:
# Then we can combine both and display count of each card brand/funding combination and their corresponding fee nale/category

df[['card_brand','card_funding','fee_category','fee_name','balance_transaction_id']].groupby(['card_brand','card_funding','fee_category','fee_name']).count().rename(columns={'balance_transaction_id': 'nb'})

                                                            nb
card_brand       card_funding fee_category fee_name
American Express credit       network_cost card_scheme     110
                                           discount        624
                              stripe_fee   per_auth_fee   1034
                                           volume_fee      560
Diners Club      credit       stripe_fee   per_auth_fee      4
Discover         credit       network_cost card_scheme       2
                                           interchange       2
                              stripe_fee   per_auth_fee      4
                                           volume_fee        2
MasterCard       credit       network_cost card_scheme   16270
                                           interchange    1716
                              stripe_fee   per_auth_fee   3293
                                           volume_fee     1611
                 debit        network_cost card_scheme   58050
                                           interchange    6095
                              stripe_fee   per_auth_fee  12069
                                           volume_fee     6005
                 prepaid      network_cost card_scheme    1512
                                           interchange     138
                              stripe_fee   per_auth_fee    347
                                           volume_fee      139
UnionPay         debit        stripe_fee   per_auth_fee      8
Visa             credit       network_cost card_scheme   27193
                                           interchange    3872
                              stripe_fee   per_auth_fee   7973
                                           volume_fee     4040
                 debit        network_cost card_scheme   76270
                                           interchange   10982
                              stripe_fee   per_auth_fee  22891
                                           volume_fee    11461
                 prepaid      network_cost card_scheme     171
                                           interchange      20
                              stripe_fee   per_auth_fee     54
                                           volume_fee       20

In [178]:
# Finally we compute fixed and variables mean fees for each combination

df[['card_brand','card_funding','fee_category','fee_name','event_type','plan_name','fixed_per_item_amount','variable_volume_amount','total_amount','tax_amount']].groupby(['event_type','card_brand','card_funding','fee_category','fee_name','plan_name'])[['fixed_per_item_amount','variable_volume_amount','total_amount','tax_amount']].sum()

                                                                                                                          fixed_per_item_amount  \
event_type           card_brand card_funding fee_category fee_name    plan_name
authorization_expiry MasterCard credit       network_cost card_scheme 3DS2 Authentication Fee - Acquirer                                 0.4000
                                                                      Acquirer Authorization Connectivity Fee                            0.0000
                                                                      Acquirer Authorization Domestic/Intra-Europe Re...                 0.0000
                                                                      Acquirer Development Fund No Authentication App...                 0.0000
                                                                      Authorization Acquirer Exemption Indicator                         0.0200
...                                                                                                                                         ...
refund_authorized    Visa       debit        network_cost card_scheme Domestic Visa Authorization                                        1.4880
                                                                      International Visa Authorization                                   0.0425
                                                                      Intraregional Visa Authorization                                   0.1224
                                prepaid      network_cost card_scheme Domestic Visa Authorization                                        0.0032
                                                                      Intraregional Visa Authorization                                   0.0068

                                                                                                                          variable_volume_amount  \
event_type           card_brand card_funding fee_category fee_name    plan_name
authorization_expiry MasterCard credit       network_cost card_scheme 3DS2 Authentication Fee - Acquirer                                    0.00
                                                                      Acquirer Authorization Connectivity Fee                            4709.00
                                                                      Acquirer Authorization Domestic/Intra-Europe Re...                  540.53
                                                                      Acquirer Development Fund No Authentication App...                   72.97
                                                                      Authorization Acquirer Exemption Indicator                            0.00
...                                                                                                                                          ...
refund_authorized    Visa       debit        network_cost card_scheme Domestic Visa Authorization                                           0.00
                                                                      International Visa Authorization                                      0.00
                                                                      Intraregional Visa Authorization                                      0.00
                                prepaid      network_cost card_scheme Domestic Visa Authorization                                           0.00
                                                                      Intraregional Visa Authorization                                      0.00

                                                                                                                          total_amount  \
event_type           card_brand card_funding fee_category fee_name    plan_name
authorization_expiry MasterCard credit       network_cost card_scheme 3DS2 Authentication Fee - Acquirer                      0.400000
                                                                      Acquirer Authorization Connectivity Fee                 0.011303
                                                                      Acquirer Authorization Domestic/Intra-Europe Re...      0.048648
                                                                      Acquirer Development Fund No Authentication App...      0.043782
                                                                      Authorization Acquirer Exemption Indicator              0.020000
...                                                                                                                                ...
refund_authorized    Visa       debit        network_cost card_scheme Domestic Visa Authorization                             1.488000
                                                                      International Visa Authorization                        0.042500
                                                                      Intraregional Visa Authorization                        0.122400
                                prepaid      network_cost card_scheme Domestic Visa Authorization                             0.003200
                                                                      Intraregional Visa Authorization                        0.006800

                                                                                                                          tax_amount
event_type           card_brand card_funding fee_category fee_name    plan_name
authorization_expiry MasterCard credit       network_cost card_scheme 3DS2 Authentication Fee - Acquirer                         0.0
                                                                      Acquirer Authorization Connectivity Fee                    0.0
                                                                      Acquirer Authorization Domestic/Intra-Europe Re...         0.0
                                                                      Acquirer Development Fund No Authentication App...         0.0
                                                                      Authorization Acquirer Exemption Indicator                 0.0
...                                                                                                                              ...
refund_authorized    Visa       debit        network_cost card_scheme Domestic Visa Authorization                                0.0
                                                                      International Visa Authorization                           0.0
                                                                      Intraregional Visa Authorization                           0.0
                                prepaid      network_cost card_scheme Domestic Visa Authorization                                0.0
                                                                      Intraregional Visa Authorization                           0.0

[432 rows x 4 columns]

In [179]:
# Finally we group by the type of event and save it as csv

df.card_brand = df['card_brand'].fillna(value='unknown')
df.card_funding = df['card_funding'].fillna(value='unknown')
df.plan_name = df['plan_name'].fillna(value='unknown')

to_dl = df[['card_brand','card_funding','fee_category','fee_name','event_type','plan_name','variable_rate','fixed_per_item_amount','variable_volume_amount','total_amount','tax_amount','balance_transaction_id']].groupby(['event_type','card_brand','card_funding','fee_category','fee_name','plan_name']
        ).agg(
    fixed_fees_total=('fixed_per_item_amount', 'sum'),
    volume_variable_fees_total=('variable_volume_amount', 'sum'),
    total_fees_amount=('total_amount', 'sum'),
    fixed_fees_mean=('fixed_per_item_amount', 'mean'),
    variable_rate_mean=('variable_rate', 'mean'),
    by_transaction_occuring=('balance_transaction_id','nunique'),
    total_occuring = ('balance_transaction_id','count')
)

# to_dl_bis = df[['card_brand','card_funding','fee_category','fee_name','event_type','plan_name','fixed_per_item_amount','variable_rate','total_amount','tax_amount']].groupby(['event_type','card_brand','card_funding','fee_category','fee_name','plan_name'])[['fixed_per_item_amount','variable_rate']].mean()

to_dl.to_csv('stripe_p&l.csv')

# Deeper analysis by merchant

To get more insights and precision for this analysis, one may focus on the different features/events happening druing a given transaction. 

This part will allow having a better understanding on how the fees are applied, occuring and which value they have.

### ch_ analysis

In [180]:
# We compute the number of unique ch_ and the number of unique ch_ for which there is a refund

filtered_df = df[df['refund_id'].notnull()]
filtered_df.total_amount.sum()

-1142.3922160000002

In [181]:
# Refunding analysis

data = {
    'ch_refunded': [df[df['refund_id'].notnull()].charge_id.nunique()],
    'tot_refund': [df[df['refund_id'].notnull()].total_amount.sum()],
    'avg_refund': [df[df['refund_id'].notnull()].total_amount.mean()]
}

new = pd.DataFrame(data)
new

   ch_refunded   tot_refund  avg_refund
0         1223 -1142.392216   -0.145974

In [182]:
occurence_per_transaction = df[['event_type','balance_transaction_id']].groupby(['event_type'])[['balance_transaction_id']].nunique()
occurence_per_transaction_bis = df[['card_brand','card_funding','charge_id']].groupby(['card_brand','card_funding'])[['charge_id']].nunique()

occurence_per_transaction_bis

                               charge_id
card_brand       card_funding
American Express credit              521
Diners Club      credit                0
Discover         credit                2
MasterCard       credit             1601
                 debit              5897
                 prepaid             159
                 unknown               0
UnionPay         debit                 2
Visa             credit             3922
                 debit             11236
                 prepaid              22